<form [formGroup]="formdata" (submit)="submitForm()">
        <div class="form-group">
            <label for="units">Units</label>
            <select class="form-control" name="units" id="units" formControlName="units">
                <option *ngFor="let unit of units"
                        [value]="unit">
                    {{unit}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="locale">Language</label>
            <select class="form-control" name="units" id="locale" formControlName="locale">
                <option *ngFor="let loc of locale"
                        [value]="loc">
                    {{loc}}
                </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">save</button>
        </div>
</form>