/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    background-color: #01b2cc;
    width: .8em
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background:  white
}

div.container {
    margin: 25px auto;
}

body {
    background-color: #ff610e !important;
    font-size: .9em !important;
    color: #ffffff !important;
}

.table-info {
    background-color: #01b2cc !important;
}
