<div>
    <legend>Overall Stats</legend>
    <table class="table table-bordered table-info">
        <tr>
            <th>sessions</th>
            <th>time</th>
            <th>distance</th>
            <th>avg. speed</th>
            <th>avg. cadence</th>
            <th>avg. heartrate</th>
        </tr>
        <tr>
            <td>{{ overall_sessions }}</td>
            <td>{{ overall_time | sec2time }}</td>
            <td>{{ overall_distance | number:'1.2-2' }}</td>
            <td>{{ overall_avg_speed | number:'1.2-2' }}</td>
            <td>{{ overall_cadence | number:'1.0-0' }}</td>
            <td>{{ overall_avg_heartrate | number:'1.0-0' }}</td>
        </tr>
    </table>
</div>
<div>
    <legend>Sessions</legend>
    <table class="table table-bordered table-striped">
        <tr>
            <th>created</th>
            <th>elapsed time</th>
            <th>distance</th>
            <th>avg.. speed</th>
            <th>max. speed</th>
            <th>avg. power</th>
            <th>max. power</th>
            <th>total ascent</th>
            <th>avg. heart rate</th>
            <th>max. heart rate</th>
            <th>avg. cadence</th>
            <th>max. cadence</th>
        </tr>
        <ng-template ngFor let-session [ngForOf]="sessions | paginate: { itemsPerPage: 10, currentPage: p }">
            <tr>
                <td>{{ session.created | date }}</td>
                <td>{{ session.time_elapsed | sec2time }}</td>
                <td>{{ session.distance | number:'1.2-2' }}</td>
                <td>{{ session.avg_speed | number }}</td>
                <td>{{ session.max_speed | number }}</td>
                <td>{{ session.avg_power }}</td>
                <td>{{ session.max_power }}</td>
                <td>{{ session.total_ascent | number:'1.2-2' }}</td>
                <td>{{ session.avg_heart_rate }}</td>
                <td>{{ session.max_heart_rate }}</td>
                <td>{{ session.avg_cadence }}</td>
                <td>{{ session.max_cadence }}</td>
            </tr>
        </ng-template>
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
