<nav class="navbar navbar-light bg-light">
    <div class="collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link">read all fit files</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <table class="table table-bordered table-striped">
        <ng-template ngFor let-session [ngForOf]="sessions">
            <tr>
                <td>{{ session.created | date }}</td>
            </tr>
        </ng-template>
    </table>
</div>
