<h3>Workout Creator</h3>
<p>not working!</p>
<div id="zwoCreator">
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="author">Author</label>
                <input type="text" name="author" id="author" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description"></textarea>
        </div>
        <div>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z1"></path>
            </svg>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z2"></path>
            </svg>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z3"></path>
            </svg>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z4"></path>
            </svg>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z5"></path>
            </svg>
            <svg data-t="s" data-p-1="80" data-d-1="300" width="30" height="30">
                <path d="M1,1 L30,1 L30,30 L1,30 Z" class="z6"></path>
            </svg>
            <svg data-t="r" data-p-1="25" data-d-1="600" data-p-2="75" width="30" height="30">
                <path d="M1,20 L30,1 L30,30 L1,30 Z" class="z1"></path>
            </svg>
            <svg data-t="r" data-p-1="75" data-d-1="600" data-p-2="25" width="30" height="30">
                <path d="M1,1 L30,20 L30,30 L1,30 Z" class="z1"></path>
            </svg>
            <svg data-t="f" data-d-1="600" width="30" height="30">
                <path class="z1" d="M 1 15 C 9 2, 20 18, 29 10 H 30 V 30 H 1 Z"></path>
            </svg>
            <svg data-t="f" data-d-1="600" width="30" height="30">
                <path class="z1" d="M 1 15 C 9 2, 20 18, 29 10 H 30 V 30 H 1 Z"></path>
            </svg>
            <svg data-t="i" data-p-1="75" data-d-1="60" data-p-2="50" data-d-2="300" data-r="3" width="30"
                 height="30">
                <path class="z2" d="M1,1 h5 v30 h-5 Z"></path>
                <path class="z1" d="M5,10 h10 v20 h-10 Z"></path>
                <path class="z2" d="M15,1 h5 v30 h-5 Z"></path>
                <path class="z1" d="M20,10 h10 v20 h-10 Z"></path>
            </svg>
        </div>
        <div id="workout" class="rounded"></div>
    </form>
</div>

