.rounded {
    border-radius: .25rem;
}

#workout {
    margin: 10px 0;
    background-color: white;
    width: 100%;
    height: 200px;
}

.workoutElement.z1 {
    width: 50px;
    height: 56px;
}

.z1 {
    fill: #837C83;
}

.z2 {
    fill: #3C8FD1;
}

.z3 {
    fill: #4AC171;
}

.z4 {
    fill: #FFCC3F;
}

.z5 {
    fill: #F06D43;
}

.z6 {
    fill: #D6270B;
}